<h1>Stat: </h1>
 
<table>
  <tr>
    <th>Stat Name</th>
    <th>Stat Value</th>
  </tr>
 
   <tr>
     <td><%= params[:stat_name] %></td>
     <td><%= @stat %></td>
   </tr>
</table>

<br/>

<%= link_to 'Home', welcome_index_path %>